* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Droid Sans', sans-serif;
  font-size: $font-size;
  background-color: $color-midnight;
  color: $color-husk;
}

input {
  outline: none;
  border: none;
}
