.Match {
  display: flex;
  flex-direction: row;
  height: 800px;
}

.Match-canvas {
  flex: 2 0 50%;
}

.Match-chat {
  flex: 1 1 25%;
  height: 100%;
}

.Match-canvas,
.Match-chat {
  border-left: solid 1px $color-husk;
}
